*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(242, 240, 219);
}
h1{
    background-color: rgb(134, 56, 56);
    text-align: center;
    color: #f5f1f1;
}
#text1{
    background: linear-gradient(yellow,green);
    width: 80%;
    height: 50px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}
#text2{
    background: radial-gradient(plum,skyblue);
    width: 85%;
    height: 50px;
    margin-top: 10px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#text3{
    background: repeating-radial-gradient(hotpink,blue);
    width: 90%;
    height: 50px;
    margin-top: 10px;  
    color: aliceblue;
    font-size: larger;
}
#text4{

background-color: rgba(232, 236, 125, 0.95);
    width: 93%;
    height: 50px;
    margin-top: 10px; 
    font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}
#text5{
    background-color: rgba(115, 191, 238, 0.95);
    width: 96%;
    height: 50px;
    margin-top: 10px;  
}
#text6{

background-color: rgba(244, 173, 118, 0.95);
    width: 100%;
    height: 50px;
    margin-top: 10px; 
}
